.form{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    margin-left: 250px;
}
.formdiv{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #dfd7d7;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button:hover {
    border-color: #646cff;
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.formdiv input {
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formdiv label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}